
<div class="row">
    <div class="col-xl-12">
        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyTitle) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyTitle) }}
                {{ form_errors(form.propertyTitle) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyPrice) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyPrice) }}
                {{ form_errors(form.propertyPrice) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyType) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyType) }}
                {{ form_errors(form.propertyType) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyStatus) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyStatus) }}
                {{ form_errors(form.propertyStatus) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyRooms) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyRooms) }}
                {{ form_errors(form.propertyRooms) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyArea) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyArea) }}
                {{ form_errors(form.propertyArea) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyAddress) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyAddress) }}
                {{ form_errors(form.propertyAddress) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyImage) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyImage) }}
                {{ form_errors(form.propertyImage) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.shortDescription) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.shortDescription) }}
                {{ form_errors(form.shortDescription) }}
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-md-3">
                {{ form_label(form.propertyDescription) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.propertyDescription) }}
                {{ form_errors(form.propertyDescription) }}
            </div>
        </div>

    </div>

</div>



