<div class="row">
    <div class="col-md-6">
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.name) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.mobile) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.mobile) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-mobile"></i>
                    </span>
                </div>
                {{ form_errors(form.mobile) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.address) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.address) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-address-book"></i>
                    </span>
                </div>
                {{ form_errors(form.address) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.city) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.city) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-city"></i>
                    </span>
                </div>
                {{ form_errors(form.city) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.zip) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.zip) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-location-dot"></i>
                    </span>
                </div>
                {{ form_errors(form.zip) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.image) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.image) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-image"></i>
                    </span>
                </div>
                {{ form_errors(form.image) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row my-2">
            <div class="col-lg-3 my-2">
                {{ form_label(form.gender) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.gender) }}
                    <span class="input-group-text">
                       <i class="fa-solid fa-venus-mars"></i>
                    </span>
                </div>
                {{ form_errors(form.gender) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.phone) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.phone) }}
                    <span class="input-group-text">
                       <i class="fa-solid fa-phone"></i>
                    </span>
                </div>
                {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.address2) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.address2) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-address-book"></i>
                    </span>
                </div>
                {{ form_errors(form.address2) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.state) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.state) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </span>
                </div>
                {{ form_errors(form.state) }}
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-lg-3  my-2">
                {{ form_label(form.country) }}
            </div>
            <div class="col-lg-9 my-2">
                <div class="input-group">
                    {{ form_widget(form.country) }}
                    <span class="input-group-text">
                        <i class="fa-solid fa-globe"></i>
                    </span>
                </div>
                {{ form_errors(form.country) }}
            </div>
        </div>

    </div>
</div>