{% if propertyLists|length > 0 %}
    {% for list in propertyLists %}
        <div class="col-12 col-md-4 col-xxl-4">
            <a class="single-property glow mt-30" href="{{ path('propertyDetails',{'propertyId': list.id}) }}">
                <div class="property-img">
                        <div class="carousel" data-show="1" data-scroll="1">
                            {% if list.propertyImage is not empty %}
                                {% for image in list.propertyImage %}
                                    <img src="{{ asset('uploads/propertyImages/' ~ image) }}" alt="{{ image }}">
                                {% endfor %}
                            {% else %}
                                <img src="{{ asset('uploads/propertyImages/property.jpg') }}" alt="property">
                            {% endif %}
                        </div>
                    <span class="{{ list.propertyStatus == 'sale' or list.propertyStatus == 'buy' ? 'sale' : 'rent' }}">{{ list.propertyStatus|capitalize }}</span>
                </div>
                <div class="property-desc">
                    <h4>{{ list.propertyTitle }}</h4>
                    <p>
                        <span class="location">{{ list.propertyCity }} , {{ list.propertyState }} ,</span>
                        <span class="property-info">{{ list.propertyArea }}, {{ list.propertyRooms }}</span>
                    </p>
                    <div class="price-box">
                        <p>{{ list.propertyPrice }}</p>
                    </div>
                </div>
            </a>
        </div>


    {% endfor %}
{% else %}
    <div class="col-md-12 text-center">
        <h1>No record Found</h1>
    </div>
{% endif %}