{% extends 'internal_base.html.twig' %}
{% block pageContent %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h1>Reset your password</h1>

                {{ form_start(changeUserPassword) }}

                {{ form_row(changeUserPassword.oldPassword) }}
                {{ form_row(changeUserPassword.newPassword) }}
                {{ form_row(changeUserPassword.change) }}
                {{ form_row(changeUserPassword.changeAndEmail) }}

                {{ form_end(changeUserPassword) }}
            </div>
            <div class="col-md-8">
                <img class="img-fluid" src="{{ asset('image/login/reset.jpg') }}" alt="resetPassword">
            </div>
        </div>
    </div>

{% endblock %}