<div class="position-relative">
    <!-- carousel Start -->
    <div class="carousel" data-show="1" data-scroll="1">
        <img class="image-height" src='{{ asset('image/property/North Carolina.jpg') }}' alt="property image">
        <img class="image-height" src='{{ asset('image/property/land-plot-with-nature-landscape-location-pin.jpg') }}'
             alt="property image">
        <img class="image-height" src='{{ asset('image/property/Most-Beautiful-House-in-the-World.jpg') }}'
             alt="property image">
        <img class="image-height" src='{{ asset('image/property/modern-residential-building.jpg') }}'
             alt="property image">
        <img class="image-height"
             src='{{ asset('image/property/villa-house-model-key-drawing-retro-desktop-real-estate-sale-concept.jpg') }}'
             alt="property image">
    </div>
    <!-- carousel End -->

    <!-- Search filter Start -->
    <div class="container-fluid mb-5 searchFilter">
        <div class="container bg-primary rounded-4 py-5 px-5">
            <form method="get" action="{{ path('propertyList') }}">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0 py-3" name="city" placeholder="Search City">
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0 py-3" name="propertyCategory">
                                    <option value="apartment">Apartment</option>
                                    <option value="villa">Villa</option>
                                    <option value="floor">Floor</option>
                                    <option value="office">Office</option>
                                    <option value="Shop">Shop</option>
                                    <option value="hotel">Hotel</option>
                                    <option value="warehouse">Warehouse</option>
                                    <option value="agricultural_farm_land">Agricultural/ Farm Land</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0 py-3" name="status">
                                    <option value="sale">Sale</option>
                                    <option value="rent">Rent</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Search filter End -->
</div>

