{% extends 'base.html.twig' %}

{% block pageContent %}
    {{ include('carousel/carousel_and_filter.html.twig') }}

    <div class="container-xxl mt-4 py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5">
                <h1 class="mb-3">Property Types</h1>
                <p> Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'apartment'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Apartment</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'villa'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Villa</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'plot'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Plots</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'farm'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Farm house</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'office'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Office</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'building'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Building</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6" >
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'soho'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>SoHo</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="property-type d-block bg-light text-center rounded p-3" href="{{ path('propertyList', {'propertyType': 'shop'}) }}">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="" alt="Icon">
                            </div>
                            <h6>Shop</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section mt-5 pt-5 ">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 col-lg-6">
                    <h2 class="font-weight-bold text-primary heading">
                        Popular Properties
                    </h2>
                </div>
                <div class="col-md-6 col-lg-6 text-lg-end">
                    <ul class="nav properties-list justify-content-end mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item ms-2" role="presentation">
                            <a href="{{ path('home') }}" class="nav-link {{ listType == 'all' ? 'active' : '' }}" data-popup="navTab" data-bs-target="#all" type="button" role="tab"
                               aria-controls="pills-home"
                               aria-selected="true">All</a>
                        </li>
                        <li class="nav-item ms-2" role="presentation">
                            <a href="{{ path('home', {'listType' : 'sale'}) }}" class="nav-link {{ listType == 'sale' ? 'active' : '' }}" data-popup="navTab" data-bs-target="#sale" type="button"
                               role="tab" aria-controls="pills-contact"
                               aria-selected="false">For Sale</a>
                        </li>
                        <li class="nav-item ms-2" role="presentation">
                            <a href="{{ path('home', {'listType' : 'rent'}) }}" class="nav-link {{ listType == 'rent' ? 'active' : '' }}" data-popup="navTab" data-bs-target="#rent" type="button"
                               role="tab" aria-controls="pills-disabled"
                               aria-selected="false">For Rent</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="{{ listType }}" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="row" id="homeListing">
                          {{ include('listing/property/property_listing.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
