{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="property-title">
                    <h1>{{ propertyInformation.propertyTitle }}</h1>
                </div>
                <div class="feature">

                </div>
            </div>
            <div class="col-md-6">
                <div class="property-price text-end">
                    <h3><i class="fa-solid fa-indian-rupee-sign"></i> {{ propertyInformation.propertyPrice }}</h3>
                </div>
                <div class="property-area text-end">
                    <h5>{{ propertyInformation.propertyArea }}{{ propertyInformation.squareType }}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% if propertyInformation.propertyImage is defined and propertyInformation.propertyImage is not null and propertyInformation.propertyImage|length > 0 %}
                        <img src="{{ asset('uploads/propertyImages/' ~ propertyInformation.propertyImage[0]) }}" class="img-fluid" alt="{{ propertyInformation.propertyImage[0] }}">
                    {% else %}
                        <img src="{{ asset('uploads/propertyImages/property.jpg') }}" class="img-fluid" alt="property">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 bottom-border-primary">
                            <h4 class="text-secondary">Overview</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 bottom-border-primary">
                            <h4 class="text-secondary">Description</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

