{% extends 'base.html.twig' %}

{% block pageContent %}
<div class="container">

        {{ form_start(propertyForm) }}
    <div class="row">
        <div class="col-md-6">
            <h2>Register Your Property Here</h2>
        {{ form_widget(propertyForm.propertyTitle) }}
        {{ form_widget(propertyForm.propertyPrice) }}
        {{ form_widget(propertyForm.propertyArea) }}
        {{ form_widget(propertyForm.propertyAddress) }}
        {{ form_widget(propertyForm.shortDescription) }}
        {{ form_widget(propertyForm.propertyDescription) }}
        {{ form_widget(propertyForm.propertyRooms) }}
        {{ form_widget(propertyForm.propertyType) }}
        {{ form_widget(propertyForm.propertyStatus) }}
        {{ form_widget(propertyForm.propertyImage) }}
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="{{ asset('image/property/North Carolina.jpg') }}" >
        </div>
    </div>
        <input type="submit" id="contact_btn" name="submit" class="btn btn-success" value="submit">
        {{ form_end(propertyForm) }}

</div>
{% endblock %}

