{% extends 'base.html.twig' %}

{% block pageContent %}
<div class="container">
    {{ form_start(propertyForm) }}
    <div class="row">
        <div class="col-md-6">
            <h2>Register Your Property Here</h2>

            
            <div class="row ">
                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyTitle) }}
                    {{ form_widget(propertyForm.propertyTitle) }}
                    <span class="error">{{ form_errors(propertyForm.propertyTitle) }}</span>
                </div>
                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyImage) }}
                    {{ form_widget(propertyForm.propertyImage) }}
                    <span class="error">{{ form_errors(propertyForm.propertyImage) }}</span>
                </div>
                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyPrice) }}
                    {{ form_widget(propertyForm.propertyPrice) }}
                    <span class="error">{{ form_errors(propertyForm.propertyPrice) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyArea) }}
                    {{ form_widget(propertyForm.propertyArea) }}
                    <span class="error">{{ form_errors(propertyForm.propertyArea) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyAddress) }}
                    {{ form_widget(propertyForm.propertyAddress) }}
                    <span class="error">{{ form_errors(propertyForm.propertyAddress) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.shortDescription) }}
                    {{ form_widget(propertyForm.shortDescription) }}
                    <span class="error">{{ form_errors(propertyForm.shortDescription) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyDescription) }}
                    {{ form_widget(propertyForm.propertyDescription) }}
                    <span class="error">{{ form_errors(propertyForm.propertyDescription) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyRooms) }}
                    {{ form_widget(propertyForm.propertyRooms) }}
                    <span class="error">{{ form_errors(propertyForm.propertyRooms) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyType) }}
                    {{ form_widget(propertyForm.propertyType) }}
                    <span class="error">{{ form_errors(propertyForm.propertyType) }}</span>
                </div>

                <div class="col-md-6 mt-2">
                    {{ form_label(propertyForm.propertyStatus) }}
                    {{ form_widget(propertyForm.propertyStatus) }}
                    <span class="error">{{ form_errors(propertyForm.propertyStatus) }}</span>
                </div>
              
            </div>
            <input type="submit" id="contact_btn" name="submit" class="btn btn-success" value="submit">
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="{{ asset('image/property/North Carolina.jpg') }}">
        </div>
    </div>

    {{ form_end(propertyForm) }}


    {% endblock %}

