{% if propertyLists|length > 0  %}
    {% for list in propertyLists %}
        <div class="col-lg-3 col-md-4 col-12">
            <div class="single-property mt-30">
                <div class="property-img">
                    {% if list.propertyImage %}
                        {% for image in list.propertyImage %}
                            <a href="">
                                <img src="{{ asset('uploads/propertyImages/' ~ image) }}" alt="{{ image }}">
                            </a>
                        {% endfor %}
                    {% else %}
                        <a href="">
                            <img src="{{ asset('uploads/propertyImages/property.jpg') }}" alt="property">
                        </a>
                    {% endif %}
                    <span class="{{ list.propertyStatus == 'sale' or list.propertyStatus == 'buy' ? 'sale' : 'rent' }}">{{ list.propertyStatus|capitalize }}</span>
                </div>
                <div class="property-desc">
                    <h4><a href="">Mariyasa de Casel </a></h4>
                    <p>
                        <span class="location">22 First street, Chicago, USA</span>
                        <span class="property-info">{{ list.propertyArea }}, {{ list.propertyRooms}}, 2 Bath, 1 Garage </span>
                    </p>
                    <div class="price-box">
                        <p>{{ list.propertyPrice }}</p>
                    </div>
                </div>
            </div><!-- single-property End -->
        </div>
    {% endfor %}
{% else %}
    <div class="col-md-12 text-center">
        <h1>No record Found</h1>
    </div>
{% endif %}