{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="card messages my-5">
        <div class="card-body">
            <div class="row bottom-border justify-content-center align-items-center">
                <div class="col-6 col-md-6 my-1">
                    <h3 class="text-primary"> Property</h3>
                </div>
                <div class="col-6 col-md-6 text-end my-1">
                    <a class="btn btn-success" href="{{ path('createProperty') }}"><i class="fa fa-fw fa-plus-circle"></i> Create </a>
                </div>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table caption-top table-bordered table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">Sno</th>
                        <th scope="col">Property Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Area</th>
                        <th scope="col">Address</th>
                        <th scope="col">Description</th>
                        <th scope="col">Beds</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th colspan="3" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sNo  = 0 %}
                    {% for lists in propertyLists %}
                        {% set sNo = sNo+1 %}
                        <tr>

                            <td> {{ sNo }}</td>
                            <td> {{ lists.propertyTitle }}</td>
                            <td> {{ lists.propertyPrice }}</td>
                            <td> {{ lists.propertyArea }}</td>
                            <td> {{ lists.propertyAddress }}</td>
                            <td> {{ lists.propertyDescription }}</td>
                            <td> {{ lists.propertyRooms }}</td>
                            <td> {{ lists.propertyType }}</td>
                            <td> {{ lists.propertyStatus }}</td>
                            <td><a href="{{ path('userPropertyEdit',{'id' : lists.id}) }}"><i
                                            class="fa-regular fa-pen-to-square"></i></a></td>
                            <td><a href="{{ path('propertyDelete',{'id' : lists.id}) }}"><i
                                            class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
