{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <img src="{{ asset('image/login/login.jpg') }}" alt="login">
            </div>
            <div class="col-md-4">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Register</h1>
                    </div>



                    <div class="col-md-12 mb-2">
                        {{ form_label(registrationForm.userAddress.name) }}
                        {{ form_widget(registrationForm.userAddress.name) }}
                        <span class="text-danger">{{ form_errors(registrationForm.userAddress.name) }}</span>
                    </div>

                    <div class="col-md-12 mb-2">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        <span class="text-danger">{{ form_errors(registrationForm.email) }}</span>
                    </div>

                    <div class="col-md-12 mb-2">
                        {{ form_label(registrationForm.userAddress.gender) }}
                        {{ form_widget(registrationForm.userAddress.gender) }}
                        <span class="text-danger">{{ form_errors(registrationForm.userAddress.gender) }}</span>
                    </div>

                    <div class="col-md-12 mb-2">

                        <div class="d-flex align-items-center">
                            {{ form_label(registrationForm.isAgent) }}
                            <span class="form-check form-switch ms-3">
                            {{ form_widget(registrationForm.isAgent) }}
                            </span>
                        </div>
                        <span class="text-danger">{{ form_errors(registrationForm.isAgent) }}</span>
                    </div>

                    <div class="col-md-12 mb-2">
                        {{ form_label(registrationForm.password.first) }}
                        <div class="input-group">
                            {{ form_widget(registrationForm.password.first) }}
                            <span class="input-group-text" data-click="eye">
                                 <i class="fa-solid fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        {{ form_label(registrationForm.password.second) }}
                        <div class="input-group">
                            {{ form_widget(registrationForm.password.second) }}
                            {{ form_errors(registrationForm.password.second) }}
                            <span class="input-group-text" data-click="eye"> <i
                                        class="fa-solid fa-eye-slash"></i> </span>
                        </div>
                        <span class="text-danger">{{ form_errors(registrationForm.password.first) }} </span>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="checkbox mb-3">
                            <span>
                                {{ form_widget(registrationForm.agreeTerms) }}
                                {{ form_label(registrationForm.agreeTerms) }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
                {{ form_row(registrationForm._token,{'attr': { 'type' : 'hidden' }}) }}
                {{ form_end(registrationForm,{render_rest: false}) }}
                <div class="col-12 mt-4 text-center">
                    <span>
                         Already have an account ?<a href="{{ path('login') }}"> Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
